NEXT_PUBLIC_SERVER_NAME=<Put DeBabel server name here>
NEXT_PUBLIC_DEFAULT_SERVICE_ID=123456
NEXT_PUBLIC_LANGUAGE_MAP=[{"name": "Arabic", "locale": "ar-001"},{"name": "English", "locale": "en-US"},{"name": "French", "locale": "fr-FR"},{"name": "German", "locale": "de-DE"},{"name": "Spanish", "locale": "es-US"}]