.container {
  min-height: 100%;
}

.home {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 0 5vw;
}

.inputBox {
  background-color: #fff;
  border-radius: 20px;
  padding: 3vw 6vw 6vw;
  width: 100%;
  max-width: 720px;
  flex-direction: column;
  gap: 80px;
  margin-top: 0dvh;
}

@media (max-width: 720px) {
  .inputBox {
    /* background-color: red; */
    padding: 10vw 6vw;
  }
}
