.home {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f3f4ff;
  height: 100dvh;
  padding: 0 10vw;
}

.home h1 {
  margin-bottom: 5dvh;
}

.inputBox {
  background-color: #fff;
  border-radius: 20px;
  padding: 8vw 6vw 6vw;
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-top: 8dvh;
}



.input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
  border-radius: 0.25rem;
  border:  1px solid #caced1;
  background-color: white;
  padding: 0.675em 6em 0.675em 1em;
}

.translateButton {
  align-self: center;
  background-color: blue;
  color: white;
  padding: 15px 25px;
  border-radius: 50px;
  cursor: pointer; 
}

@media (max-width: 720px) {
  .inputBox {
    /* background-color: red; */
    padding: 10vw 6vw;
  }
}

.logo {
  width: 10vw;
}

.logo img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 920px) {
  .logo {
      width: 100px;
      margin-top: -50px;
  }
}