.languagecontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selectlabel {
    font-size: 12px;
}

.translateButton {
    align-self: center;
    background-color: blue;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    cursor: pointer;
}