.pageheader {
    font-family:'Times New Roman', Times, serif;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #707070;
    margin-top: 6px;
}

.textlabel {
    color: #000;
    float: left;
    padding: 10px;
    font-weight:600;
    font-size: 20px;
}

.logo {
    float: left;
    padding: 10px;
    height: 100px;
    object-fit: scale-down;
}

.sessionstatus {
    float: right;
    padding: 10px;
}

.sessiontext {
    display: inline-block;
    padding-right: 5px;
    font-size: 16px;
    margin-top: 1px;
}

.sessionindicator {
    height: 25px;
    width: 25px;
    border-radius: 10%;
    display: inline-block;
}

.sessionon {
    height: 21px;
    width: 21px;
    margin: 1px;
    border-radius: 6px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 18px;
    font-size: 10px;
}

.sessionoff {
    height: 21px;
    width: 21px;
    margin: 1px;
    border-radius: 6px;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 18px;
    font-size: 10px;
}