.translatePage {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1040px;
    margin: auto;
    gap: 30px;
}



.changeLanguageButton {
    align-self: center;
    background-color: blue;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    cursor: pointer;
}

.logo {
    width: 10vw;
}

.logo img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 920px) {
    .logo {
        width: 100px;
        margin-top: -50px;
    }
}