.translatePage {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1040px;
    margin: auto;
    gap: 30px;
}

.outer {
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    width: 90%;
    height: 50%;
    border: 1px solid black;
}

.translationBox {
    /* width: 100%; */
    height: 100%;
    /* border: 1px solid black; */
    /* border-radius: 30px; */
    overflow-y: auto;
    padding: 20px 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    /* animation: animate 3s linear; */
}

/* @keyframes animate {
    from {
        transform: translate3d(0, 0, 0);
    } to {
        transform: translate3d(0, -100%, 0);
    }
} */

.translationBox::-webkit-scrollbar {
    display: none;
}

.translationBox p {
    overflow-wrap: break-word;
}

.translatedText:not(:first-child) {
    margin-top: 20px;
}

.audioButton {
    display: flex;
    align-items: center;
    gap: 20px;
}

.changeLanguageButton {
    align-self: center;
    background-color: blue;
    color: white;
    padding: 15px 25px;
    border-radius: 50px;
    cursor: pointer;
}

.switch {
    width: 60px;
    height: 34px;
    position: relative;
    display: inline-block;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.logo {
    width: 10vw;
}

.logo img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 920px) {
    .logo {
        width: 100px;
        margin-top: -50px;
    }
}