.outer {
    margin-top: 20px;
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    width: 90%;
    height: 60%;
    border: 1px solid black;
}

.translationBox {
    /* width: 100%; */
    height: 100%;
    /* border: 1px solid black; */
    /* border-radius: 30px; */
    overflow-y: auto;
    padding: 20px 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    /* animation: animate 3s linear; */
}

.translationBox::-webkit-scrollbar {
    display: none;
}

.translationBox p {
    overflow-wrap: break-word;
}

.translationTranscriptPair {
    margin-top: 20px;
}

.translatedText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.translatedText:not(:first-child) {
    margin-top: 20px;
}

.transcriptText {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
}