.greeting {
    color: #134E64;
    font-size: 21px;
    text-align: center;
    margin-bottom: 10px;
}

.standard {
    text-align: left;
    margin-bottom: 10px;
}

.welcome {
    color: #134E64;
    text-align: center;
    font-family: fantasy;
    font-size: 18px;
    margin-bottom: 20px;
}